*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Details-Holder{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Details-Card-Holder{
     width: 50%;
    height: 400px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
    background-color: gray; 
    margin: 10px;
    color: white;
    border-radius: 10px;
}
    
.Details-Image-Holder{
    width: 300px;
    height: 300px;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background: gray;

}
.Detail-Image{
    width: 100%;
    object-fit: fit;
}
.Details-details{
    width: 60% ;
    /* height: 300px ; */
    padding: 10px;
}
.Detail-bottom{
    width: 300px;
    /* height: 80px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    width: 40%;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}
.Cart-Button{
    width: 50%;
    background-color:orange;
    display: flex;
     cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 10px;
}
.Cart-Button button{
    font-size: 25px;
    outline: none;
    cursor: pointer;
     background-color:orange;
     border: none;
}