*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.Details-Holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 100px;
}
.Details-Card{
    background-color: gray;
    flex-wrap: wrap;
    width: 60%;
    height: 70%;
    display: flex;
    padding: 5px;
    gap: 20px;
}
.Detail-desc{
    /* margin-top: 100px; */
    font-size: 15px;
}
.Details-Image-Holder{
    width: 50%;
    flex: 1
}
.Detail-Image{
    background-color: gray;
    width: 100%;
    height: 100%;
    object-fit: fit;
}
.Details-details{
    width: 50%;
    height: 60%;
    background-color: white;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.Cart-Button{
    width: 100px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 8px;
    height: 30px;
}
.Cart-Button button{
    background-color: tomato;
    border:none;
}
.Detail-bottom{
    margin: 100px;
    background-color: gold;
    width: 400px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:769px){
    .Detail-Image{
        width: 70%;
        height: 60%;
    }
    .Detail-desc{
        font-size: 10px;
    }
    .price{
        width: 150px;
        display: flex;
        gap: 10px;
    }
    .Detail-bottom{
        width: 200px;
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}