*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Cart-Holder{
  width: 100%;
  height: 100%;
  background-color: gray;

}
.Cart-box{
  width: 300px;
  height: 200px;
  background-color: gray;
}