*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Cart-Holder{
  margin-top: 30px;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cart-Box{
  width: 50%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 197, 202);
  color: black;
  border-radius: 5px;
}
.Cart-Title{
  display: flex;
  padding: 5px;
  position: sticky;
  top: 150px;
  justify-content: space-between;
  /* background-color: white; */
  width: 100%;
}
.Cart-Title p:hover{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.Cart-Items{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 10px;
  max-height: 80%;
  overflow-y: scroll;
  align-items: center;
  /* background-color: yellow; */
}
.Cart-Item{
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;

}
.Cart-Item p:hover{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.Cart-Item img{
  width: 70px;
  height: 70px;
  object-fit: fit;
}
.Cart-Calc{
  width: 80px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: gray; */
}
.Cart-Calc button{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.Cart-Check{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cart-Check button{
  background-color: rgb(189, 29, 189);
  color: white;
  width: 30%;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 350ms;
  transform: scale(1)
}
.Cart-Check button:hover{
  background-color: rgb(83, 8, 117);
  transition: all 350ms;
  transform: scale(1.005);
}
