*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: black;
}